### Pandas Tutorial with the Iris Dataset
Short introduction to the `pandas` library with some exercise questions at the end. Most examples will _not_ have a relevant real world impact.

Examples covering:
- creating a DataFrame
- filtering, indexing a DataFrame
- pd.DataFrame.apply
- pd.DataFrame.aggregate
- pd.DataFrame.groupby

In [93]:
import pandas as pd
import numpy as np
from sklearn.datasets import load_iris

**creating a DataFrame**

In [114]:
# Alternatively, we can also read from flat file, such as csv
sample_data = pd.DataFrame({'column 1': [1, 1], 'column 2': [2, 2]})
sample_data

   column 1  column 2
0         1         2
1         1         2

**Load Iris dataset from Sklearn, convert to dataframe**

In [94]:
iris = load_iris()
print(iris['DESCR'])

# concatenate feature variables with target
data = np.c_[iris['data'], iris['target']]
iris = pd.DataFrame(data=data, columns=iris['feature_names'] + ['target'])

.. _iris_dataset:

Iris plants dataset
--------------------

**Data Set Characteristics:**

    :Number of Instances: 150 (50 in each of three classes)
    :Number of Attributes: 4 numeric, predictive attributes and the class
    :Attribute Information:
        - sepal length in cm
        - sepal width in cm
        - petal length in cm
        - petal width in cm
        - class:
                - Iris-Setosa
                - Iris-Versicolour
                - Iris-Virginica

    :Summary Statistics:

    ============== ==== ==== ======= ===== ====================
                    Min  Max   Mean    SD   Class Correlation
    ============== ==== ==== ======= ===== ====================
    sepal length:   4.3  7.9   5.84   0.83    0.7826
    sepal width:    2.0  4.4   3.05   0.43   -0.4194
    petal length:   1.0  6.9   3.76   1.76    0.9490  (high!)
    petal width:    0.1  2.5   1.20   0.76    0.9565  (high!)
    ============== ==== ==== ======= ===== ====================

    :Missing Attribute Values: None
    :Class Distribution: 33.3% for each of 3 classes.
    :Creator: R.A. Fisher
    :Donor: Michael Marshall (MARSHALL%PLU@io.arc.nasa.gov)
    :Date: July, 1988

The famous Iris database, first used by Sir R.A. Fisher. The dataset is taken
from Fisher's paper. Note that it's the same as in R, but not as in the UCI
Machine Learning Repository, which has two wrong data points.

This is perhaps the best known database to be found in the
pattern recognition literature.  Fisher's paper is a classic in the field and
is referenced frequently to this day.  (See Duda & Hart, for example.)  The
data set contains 3 classes of 50 instances each, where each class refers to a
type of iris plant.  One class is linearly separable from the other 2; the
latter are NOT linearly separable from each other.

.. topic:: References

   - Fisher, R.A. "The use of multiple measurements in taxonomic problems"
     Annual Eugenics, 7, Part II, 179-188 (1936); also in "Contributions to
     Mathematical Statistics" (John Wiley, NY, 1950).
   - Duda, R.O., & Hart, P.E. (1973) Pattern Classification and Scene Analysis.
     (Q327.D83) John Wiley & Sons.  ISBN 0-471-22361-1.  See page 218.
   - Dasarathy, B.V. (1980) "Nosing Around the Neighborhood: A New System
     Structure and Classification Rule for Recognition in Partially Exposed
     Environments".  IEEE Transactions on Pattern Analysis and Machine
     Intelligence, Vol. PAMI-2, No. 1, 67-71.
   - Gates, G.W. (1972) "The Reduced Nearest Neighbor Rule".  IEEE Transactions
     on Information Theory, May 1972, 431-433.
   - See also: 1988 MLC Proceedings, 54-64.  Cheeseman et al"s AUTOCLASS II
     conceptual clustering system finds 3 classes in the data.
   - Many, many more ...

In [95]:
iris.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,0.0
1,4.9,3.0,1.4,0.2,0.0
2,4.7,3.2,1.3,0.2,0.0
3,4.6,3.1,1.5,0.2,0.0
4,5.0,3.6,1.4,0.2,0.0

**Filtering, indexing a DataFrame**

In [96]:
# Extract several columns using double []
iris_sepal_only = iris[['sepal length (cm)', 'sepal width (cm)']]
iris_sepal_only.head()

   sepal length (cm)  sepal width (cm)
0                5.1               3.5
1                4.9               3.0
2                4.7               3.2
3                4.6               3.1
4                5.0               3.6

In [97]:
# Index a DataFrame by row
row_indexer = 1
iris.loc[row_indexer, :]

sepal length (cm)    4.9
sepal width (cm)     3.0
petal length (cm)    1.4
petal width (cm)     0.2
target               0.0
Name: 1, dtype: float64

In [102]:
"""
    Filter a dataframe with expression condition:
        dataframe = dataframe[condition]
    Ex. filter for iris with sepal length > 1 cm
"""

setosa = iris[iris['sepal length (cm)'] > 1]

# With multiple conditions (sepal > 1 OR pedal > 1)
setosa_or_1 = iris[(iris['sepal length (cm)'] > 1) | iris['petal length (cm)'] > 1]

# Setosa AND sepal > 1
setosa_and_1 = iris[(iris['sepal length (cm)'] > 1) & iris['petal length (cm)'] > 1]

**pd.DataFrame.apply**
- apply a function along an axis of the DataFrame
- `axis=0` (default) applies function to each column
- `axis=1` applies function to each row
- simple way to iterate through a DataFrame

In [103]:
# Ex of column wise apply: map target to iris name
to_name = {0: 'Setosa', 1: 'Versicolour', 2: 'Virginica'}
iris['target'] = iris['target'].apply(lambda x: to_name[x])
iris.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,Setosa
1,4.9,3.0,1.4,0.2,Setosa
2,4.7,3.2,1.3,0.2,Setosa
3,4.6,3.1,1.5,0.2,Setosa
4,5.0,3.6,1.4,0.2,Setosa

In [104]:
# Ex of row wise apply: construct a new column which is length x width
iris['petal l x w (cm)'] = iris.apply(lambda row: row['petal length (cm)'] * row['petal width (cm)'], axis=1)
iris.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target,petal l x w (cm)
0,5.1,3.5,1.4,0.2,Setosa,0.28
1,4.9,3.0,1.4,0.2,Setosa,0.28
2,4.7,3.2,1.3,0.2,Setosa,0.26
3,4.6,3.1,1.5,0.2,Setosa,0.30
4,5.0,3.6,1.4,0.2,Setosa,0.28

**pd.DataFrame.aggregate**
- aggregate over an axis of the DataFrame
- `axis=0` (default) applies function to each column
- `axis=1` applies function to each row

In [105]:
# Ex of column wise aggregate: find the biggest iris sepal
iris[['sepal length (cm)', 'sepal width (cm)']].agg(['max', 'mean'])

      sepal length (cm)  sepal width (cm)
max            7.900000          4.400000
mean           5.843333          3.057333

In [106]:
# Ex of row wise aggregate: find the max between sepal and petal length
iris[['sepal length (cm)', 'petal length (cm)']].agg('max', axis=1).head()

0    5.1
1    4.9
2    4.7
3    4.6
4    5.0
dtype: float64

**pd.DataFrame.groupby**
- split, combine, apply DataFrame
- pass columns for grouping as _by_ parameter

In [109]:
# Find mean of each feature by iris type
iris.groupby('target').mean()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),petal l x w (cm)
target,,,,,
Setosa,5.006,3.428,1.462,0.246,0.3656
Versicolour,5.936,2.770,4.260,1.326,5.7204
Virginica,6.588,2.974,5.552,2.026,11.2962

**Simple Exercises**

_Filtering a DataFrame_
- Filter for records where either petal length OR sepal length > 3 cm

_pd.DataFrame.apply_
- Round the new column `petal l x w (cm)` to the nearest tenth of a cm

_pd.DataFrame.aggregate_
- Find the average `sepal length (cm)` across the three classes